
 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<div class="content">
<div class="row">
<div class="content">

<% @images.each do |image| %>


<div id="resize" class="col-xs-2" >




<%= link_to image_path(image.id) do  %>

<%=image_tag image.avatar.url(:medium) , :class => 'img-rounded'%>
<%end%>

		
		<h5><%= image.title %></h5>

<h5><%= image.descrip %></h5>






	<span><%= link_to 'edit', edit_image_path(image.id)%></span>
	<span>|</span> <span><%= link_to 'Delete' ,image_path(image.id),method: "DELETE",data:{confirm: 'are you sure delete this data ? '} %></span>



</div>


<%end%>

</div>

</div>
<%= link_to 'NEW' , image_path('new')%>