	<!DOCTYPE html>
	<html>
	<head>
	<style type="text/css">
	
	body{background-color: #F7F7F7 ;
	}
	
	</style>
	<title>Tugas4</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	</head>
	<body style="background-color:#ececec;">
	<%=render 'layouts/header'%>
	
	<%= yield %>
	
	

	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
	</body>
	</html>

